flask-cors
cryptography==36.0.0
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
mysql-connector==2.2.9
mysql-connector-python==8.0.27
pycparser==2.21
PyJWT==1.7.1
PyMySQL==1.0.2
SQLAlchemy==1.4.27
Werkzeug==2.0.2

